.ProductCard-Wrapper:hover .cartBtn {
    display: block;
  }
  
  .cartBtn {
    display: none;
  }
  
  .img-container:hover .main-img {
    opacity: 0;
  }
  
  .img-container .second-img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .img-container:hover .second-img {
    opacity: 1;
  }
  