.ProductCard-Wrapper:hover .cart-btn {
  display: block;
}

.cart-btn {
  display: none;
}

.ProductCard-Wrapper:hover:hover .cart-btn {
  animation: cartAnimation 0.2s ease-in-out;
}

.img-container:hover .main-img {
  opacity: 0;
}

.img-container .second-img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.img-container:hover .second-img {
  opacity: 1;
}

.ProductCard-Wrapper:hover .CartAndBuyBtn {
  display: flex;

}

.CartAndBuyBtn {
  display: none;
}

.ProductCard-Wrapper:hover .tempBtnHeight {
  display: none;
}

.tempBtnHeight {
  display: block;
}

@keyframes cartAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 768px) {
  .cart-btn {
    display: block;
  }
}
