.imgContainer {
    position: relative;
    overflow: hidden;
    /* width: 100%;
    height: 100%; */
  }
  
  .mainImg {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  .zoomed {
    transform: scale(1.05);
  }
  
  .zoomOverly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
    opacity: 1;
  }
  