@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Colors */
  --color-secondary: #10b981;
  /* --color-primary: #4f46e5; */
  --color-primary: #fd7e14;
  --color-danger: #ef4444;

  /* Font Families */
  --font-font-sans: "Inter", sans-serif;
  --font-family-mono: "Fira Code", monospace;

  /* Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
}

/* input filed arrow remove */
/* Hide arrows for number inputs (Chrome, Safari, Edge, Opera) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Swiper Js Button */
.swiper-horizontal > .swiper-pagination-horizontal {
  background-color: hsl(0, 0%, 0%, 0.5);
  padding: 5px;
  width: 30%;
  left: 50%;
  translate: -50%;
}

/* Pagination */
.swiper-pagination-bullet {
  background-color: white;
  width: 10px;
  height: 10px;
}

/* Navigation  */
.swiper-button-prev,
.swiper-button-next {
  z-index: 999;
  top: auto;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev {
  left: 40%;
  transform: translateX(-100%);
}

.swiper-button-next {
  right: 40%;
  transform: translateX(100%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 768px) {
  .swiper-horizontal > .swiper-pagination-horizontal {
    width: 80%;
    left: 50%;
    translate: -50%;
  }
}
